.backimg {
    background-repeat: no-repeat;
    background-color: black;
}
.pb-80 {
    padding-bottom: 50px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-10{
    padding-bottom: 90px;
}
.pr-30{
    padding-right: 50px;
}
.pt-28{
    padding-top: 28px;
}
.bg-lighter {
    background-color: rgba(255, 255, 255, 0.8);
    width: 452px;
    height: 48px;
    border-radius: 10px 10px 10px 10px;
}
.bg-lighter2 {
    background-color: rgba(255, 255, 255, 255);
    height: 100px;
    border-radius: 5px 5px 5px 5px;
}
.line{
    width:450px;
    height:30px;
    text-align:center;
    border-bottom:2px dashed #559ac8;
}
.icon{
    color:#559ac8 ;
}
